.signup-container{
    width: 100%;
    height: 90vh;
    background-color: white;
    color: black;
    background: url('../../../assets/ServiceBase.svg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp-form{
    width: 65vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0.75rem;
    padding: 1rem;
    gap: 4rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.signUp-form .title{
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.signUp-form .txt-box-style{
    width: 20.313rem;
    height: 2.75rem;
    border-radius: .75rem;
    border: .1rem solid black ;
    padding-left: 1rem;
    font-size: 1rem;
    cursor: pointer;
}
.signUp-form .txt-boxs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.signUp-form .btn{
    width: 20.313rem;
}

.Other-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}
.Other-options .or{
    display: flex;
    align-items: center;
    gap: .3rem;
    text-transform: uppercase;
    font-weight: 500;
}
.Other-options .or hr{
   width: 9rem;
   height: .2rem;
   background-color: black;


}

.google{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.313rem;
    height: 2.6rem;
    border-radius: 1rem;
    border: .1rem solid black;
    font-size: 1rem;
    cursor: pointer;
}
.google img{ 
    position: relative;
    right: 3rem;
}